@charset "UTF-8";


*{  box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body > header{
    background-color: #001d0e;
    color: white;
}
    
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header li{
    margin-right: 8px;
    display: inline;

}
 
header li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.container{
    margin: 0px auto;
    width: 1366px;
    
}
.articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
}

.articles article{
    width: 30%;
    margin-top: 15px;
}
.articles article img{
    width: 100%;
}

article h3{
    margin-top: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

article p{
    text-align: justify;
    margin-top: 3px;
    margin-bottom: 4px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
}

 .articles header{
    color: #a09f9f;
 }

section{
    padding: 15px 0px;
    width: 100%;
}

section h2{
   margin-bottom: 16px;
}

section h3{
 margin:10px 0 11px 0px;
}

#esportes{
    
    background-color:#2c3f2ad7;
}
#games{
    background-color: #355551f3;
}

#economia{
    background-color: #614a68;
}
#entreterimento{
    background-color: #b47171;
}



/*links*/

.articles article a{
    background-color: #244434;
    color: white;
    text-decoration: none;
    padding: 3px;  
    margin-top: 10px; 
    display: inline-block;
}
 #games a{
    background-color: #239423;
    color: white;
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    margin-top: 10px; 
}
#economia a{
    background-color: #3d3696;
    color: white;
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    margin-top: 10px; 
}
#entreterimento a{
    background-color: #6e1919;
    color: white;
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    margin-top: 10px; 
}

#esportes a:hover, #games a:hover, #economia a:hover{
    background-color: #6e1919;
}
#entreterimento a:hover{
    background-color: #244434;
}


